/* Estilo base para la navbar */
.navbar {
    background-color: #1f1f1f;
    /* Color de fondo oscuro */
    padding: 15px 20px;
    /* Espaciado alrededor de los elementos */
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    /* Color del texto de la marca */
}

.navbar-brand:hover {
    color: #f0ad4e;
    /* Color del texto al pasar el ratón */
}

.nav-link {
    color: #ffffff;
    /* Color del texto de los enlaces */
    margin-right: 15px;
    /* Espacio entre enlaces */
    font-size: 1.1rem;
}

.nav-link:hover {
    color: #f0ad4e;
    /* Color del texto al pasar el ratón sobre los enlaces */
}

.nav-link.active {
    color: #f0ad4e;
    /* Color del enlace activo */
    font-weight: bold;
}

/* Ajuste para el botón de colapso en pantallas pequeñas */
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
    /* Cambiar el color del borde del botón */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Estilo para el contenedor en pantallas pequeñas */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .nav-link {
        margin-right: 0;
        padding: 10px;
    }
}

.ms-auto {
    margin-left: auto;
}
/* Estilos para agrandar el ícono del carrito */
.cartContainer {
    display: flex;
    align-items: center;
}

.cartContainer svg {
    width: 32px;  /* Ajusta el tamaño según tus necesidades */
    height: 32px;
    color: #fff;  /* Ajusta el color del ícono si es necesario */
}

.cartContainer:hover svg {
    color: #ffb703;  /* Cambia el color al hacer hover */
}